.skills-grid {
  margin-bottom: 12rem;
  .back-text-skills {
    display: flex;
    align-items: center;
    justify-content: right;
    font-weight: 700;
    font-size: 8.5rem;
    color: #f0e7e7;
  }

  h2 {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 4rem;
    color: $very_gray;
    margin-top: -3.8rem;
    text-decoration: underline rgb(255, 113, 113);
    margin-bottom: 3.5rem;
    font-weight: 600;
    margin-bottom: 4rem;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);

    .card {
      list-style: none;
      margin: 0 auto;

      i {
        margin-right: .5rem;
      }
    }
  }
}

@media (min-width: 375px) {
  .skills-grid {
    margin-bottom: 9rem;
    .back-text-skills {
      justify-content: center;
      font-size: 6rem;  
    }
  
    h2 {
      justify-content: center;
      font-size: 1.5rem;
      margin-top: -2.5rem;
      margin-bottom: 3.5rem;
      font-weight: 600;
      margin-bottom: 3rem;
    }
  
    .skills-grid {
      display: grid;
      grid-template-columns: repeat(3,1fr);
  
      .card {
        list-style: none;
        margin: 0 auto;
  
        li {
          font-size: .8rem;
        }
        i {
          margin-right: .5rem;
        }
      }
    }
  }
}