.whatdo-grid {
  margin-bottom: 9rem;
  .back-text-do {
    font-weight: 700;
    font-size: 8.5rem;
    color: #f0e7e7;
  }

  h2 {
    padding-left: 7.5rem;
    font-size: 4rem;
    color: $very_gray;
    margin-top: -3.6rem;
    text-decoration: underline rgb(255, 113, 113);
    margin-bottom: 3.5rem;
    font-weight: 600;
    margin-bottom: 6rem;
  }

  .services-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    .card {
      border-radius: 10px;
      background-color: $smooth_brown;
      width: 300px;
      padding-bottom: 1.5rem;
      height: auto;

      img {
        display: block;
        margin: auto;
        margin-top: 2rem;
      }

      h3 {
        text-align: center;
        color: $very_gray;
        margin-top: 2rem;
      }
      .img1 {
        max-width: 190px;
      }

      .img2 {
        max-width: 190px;
      }

      .img3 {
        width: 270px;
      }
    }
  }
}

@media (max-width: 428px) {
  .whatdo-grid {
    .back-text-do {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 5rem;
    }

    h2 {
      font-size: 2.5rem;
      color: #323232;
      text-align: center;
      margin-top: -2.5rem;
      padding-left: 0;
      margin-bottom: 4rem;
    }

    .services-grid {
      display: flex;
      align-items: center;
      flex-direction: column;
      row-gap: 2rem;
      padding-left: 0;

      .card {
        // background-color: $smooth_brown;
        background-color: red;
        width: 300px;
        padding-bottom: 1.5rem;

        img {
          display: block;
          margin: auto;
          margin-top: 2rem;
        }

        h3 {
          display: flex;
          align-items: center;
          justify-content: center;
          color: $very_gray;
          margin-top: 2rem;
        }
        .img1 {
          max-width: 190px;
          border: 1px solid;
        }

        .img2 {
          max-width: 190px;
        }

        // .img3 {
        //   width: 280px;
        // }
      }
    }
  }
}
